instance/*
!.gitkeep
.env
.idea
*.xlsx
# Virtual environments
venv/
env/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite3
*.db

# Environment variables
.env
.env.local
.venv

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# Upload directories
*/instance/uploads/
instance/uploads/